
.btn-round-lg {
    -ms-border-radius: 22.5px;
    border-radius: 22.5px;
}

.btn-round {
    -ms-border-radius: 17px;
    border-radius: 17px;
}

.btn-round-sm {
    -ms-border-radius: 15px;
    border-radius: 15px;
}

.btn-round-xs {
    -ms-border-radius: 11px;
    border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}
th {
    text-align: center;
}
td {
   text-align: center; 
}
tr:hover {
   background-color: yellow;  
}
#itemUnits {
    width:75px;
    height: 34px;
    text-align: center;
    position:relative;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.btn.btn-default.btn-plus {
  
    
}
